img {
  width: 100%;
  height: auto;
  float: bottom;
}

.jumbotron {
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.box1 {
  float: right;
  text-align: center;
}

.box {
  size: 100%;
  border-radius: 20px;
  border width: 4px;
  border-style: solid;
}

.box2 {
  border-radius: 20px;
}

.column1 {
  float: left;
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

.column2 {
  float: center;
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

.column3 {
  float: right;
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

.column4 {
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

.column5 {
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

.column6 {
  width: 30%;
  margin: 12px;
  border-radius: 20px;
  background-color: rgb(110, 157, 175);
  border: 1px solid rgb(83, 83, 83);
  padding: 4px;
}

p {
  text-align: center;
  color: white;
}

h1 {
  height: 50%;
  font-family: courier;
  float: right;
  color: white;
  font-weight: bold;
}

a {
  height: 40%;
  font-family: courier;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  text-decoration: underline;
}

li {
  text-align: center;
  font-weight: bold;
  color: white;
}

.important {
  color: goldenrod;
  font-weight: bold;
  font-style: italic;
}